.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
}

.about-page {
  .text-zone {
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  h1 {
    font-size: 70px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 25px;
    left: 0px;
    animation: fadeIn 1s linear 1 backwards;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      margin-top: 0;
      left: -20px;
      opacity: 0.6;
      line-height: 18px;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      bottom: -10px;
      margin-left: 10px;
      opacity: 0.6;
      line-height: 18px;
    }
  }

  p {
    font-size: 18px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: auto;
    animation: fadeIn 1.5s linear backwards;

    &:before {
      content: '<p>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -20px;
      left: -20px;
      animation: fadeIn 1.5s linear backwards;
    }

    &:after {
      content: '</p>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 0px;
      margin-left: -20px;
      animation: fadeIn 1.5s linear backwards;
    }

    &:nth-of-type(1) {
      animation-delay: 1.75s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.85s;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  h1::before,
  h1::after,
  p::before,
  p::after {
    display: none;
  }

  .text-zone {
    margin-top: -40px;
  }
  
  .tagcloud {
    // display: none;
    position: initial;
    width: 100%;
    height: 0%;
    overflow: visible;
    margin: 0px;
  }
}
