.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -20px;
      opacity: 0.6;
    }

    &:after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -30px;
      margin-left: -20px;
      // animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      margin-bottom: -20px;
      opacity: 0;
      width: 80px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    &:before {
      content: '<p>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -20px;
      left: -20px;
      opacity: 0.6;
    }

    &:after {
      content: '</p>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-left: -20px;
      // animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  * {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
  }

  .button-box {
    margin-top: 50px;
  }

  .btn {
    color: #ffd700;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  .btn-flex {
    background: transparent;
    font-weight: 100;

    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: #ffd700;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }

  .btn-flex:hover {
    // background: #115173;
    font-weight: 700;
    letter-spacing: 3px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
